* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.page-header {
    width: 100%;
    background-color: #fff;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.header_nav {
    padding-block: 20px
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-nav__nav-links {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
    transition: all 0.4s ease;
}

.header-nav__nav-links:hover {
    cursor: pointer;
    color: blue;
}

.header-nav__btn {
    padding: 17px 57px;
    border: solid 2px #263238;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 500;
    font-size: 24px;
    transition: all 0.4s ease;
    line-height: 36px;
    color: #000;
}

.header-nav__btn:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
}

.burger-menu {
    flex-direction: column;
    row-gap: 4px;
    display: none;
}

.burger-menu > div {
    border-radius: 30px;
    width: 30px;
    height: 3px;
    background: #000;
}

.mobile-menu {
    padding: 20px;
    max-width: 300px;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #263238;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    position: fixed;
    top: 0px;
    left:300px ;
    transform: translateY(-400px);
    transition: all .4s ease;
}

.mobile-menu.open {
    transform:translateY(0);
}

.mobile-menu__header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.mobile-menu__close-btn {
    padding: 4px 7px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 100%; 
}

.mobile-menu__body {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}

.mobile-menu__nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.mobile-menu__link {
    color: #000;
}

@media(max-width: 800px) {
    .burger-menu {
        display: flex;
    }

    .header-nav__nav {
        display: none;
    }

    .header-nav__btn {
        display: none;  
    }
}